fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
bcrypt>=4.0.1
passlib[bcrypt]
python-jose
email-validator

# AI / LangChain stack
langchain
langchain-openai
langchain-google-genai
langgraph

httpx
pydantic
pydantic-settings
