fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
email-validator

passlib[bcrypt]
bcrypt==4.3.0

pydantic
pydantic-settings

# optional AI stack
langchain
langchain-openai
langchain-google-genai
langgraph
httpx
